@import url('reset.css');
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, grey, lightgrey, white, white) no-repeat;
  background-size: auto; /* S'adapte à la taille du contenu */
  padding: 20px 40px; /* Ajoute un espace de 50px en haut et en bas, 10px sur les côtés */
}

.logo {
  width: 50%; /* Le logo occupe 50% de la largeur de la .header-content */
  max-width: 100%; /* Pour s'assurer que le logo ne dépasse pas la largeur de la .header-content */
  height: 100px; /* Ajuste la hauteur selon tes besoins */
  object-fit: contain; /* Conserve les proportions de l'image en ajustant sa taille */
}

.game-image {
  max-width: 90%;
  height: auto;
}

.part1 {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fireIcon {
  width: 10%; /* ou ajuste selon tes préférences */
  max-width: 100%;
  border-bottom: 2px solid red;
  line-height: 2;
}

.title1 {
  margin: 0px 0;
  display: inline-block;
  padding: 5px;
  border-bottom: 2px solid red;
  line-height: 2;
  font-weight: bold;
  font-style: italic;
  color: #333;
  font-size: 1.1em;
}

.description1 {
  margin: 10px 0;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.3;
  white-space: pre-line;
}

.photo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.age-img {
  padding: 7%;
  max-width: 60%;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
  position: relative;
  border-bottom: 2px solid red;
}

.description2 {
  max-width: 60%;
  position: relative;
  padding: 5%;
}

.description2::before {
  content: ''; /* Contenu vide nécessaire pour que les pseudo-éléments soient rendus */
  position: absolute;
  top: -5px; /* Ajuste selon l'espace en haut que tu veux dépasser */
  left: 5px; /* Ajuste selon l'espace à gauche que tu veux dépasser */
  width: 2px; /* Largeur de la bordure */
  height: calc(100% + 10px); /* Hauteur de la bordure (ajout du dépassement) */
  background-color: red;
}

.description2::after {
  content: ''; /* Contenu vide nécessaire pour que les pseudo-éléments soient rendus */
  position: absolute;
  top: 5px; /* Ajuste selon l'espace en haut que tu veux dépasser */
  left: -5px; /* Ajuste selon l'espace à gauche que tu veux dépasser */
  width: calc(100% + 10px); /* Largeur de la bordure (ajout du dépassement) */
  height: 2px; /* Hauteur de la bordure */
  background-color: red;
}
.visuel {
  max-width: 35%;
  height: auto;
}

.part3 {
  background: linear-gradient(to top, grey, lightgrey, white, white) no-repeat;
  background-size: auto; /* S'adapte à la taille du contenu */
  position: relative;
  padding: 20px;
}

.darknessIcon {
  width: 10%; /* ou ajuste selon tes préférences */
  max-width: 100%;
  border-bottom: 2px solid red; /* Souligne l'icône */
}

.title3 {
  font-weight: bold;
  font-style: italic;
  color: #333; /* Gris très foncé */
  font-size: 1.2em;
  line-height: 1.2;
  margin: 10px 0;
  width: 80vh;
  padding-bottom: 2%;
  border-bottom: 2px solid red;
  
}

.description3 {
  max-width: 50%;
  margin: 10px 0;
  text-align: left;
  line-height: 1;
  font-size: 0.7em;
  white-space: pre-line; /* Garde les retours à la ligne dans la description */
}

.mage-img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 30%; /* Ajuste la largeur maximale de l'image selon tes besoins */
  height: auto;
}
.part4 {
  text-align: center;
  padding: 20px;
}

.cloudIcon {
  width: 10%; /* ou ajuste selon tes préférences */
  max-width: 100%;
  border-bottom: 2px solid red;
}

.part4-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #333; /* Gris très foncé */
  font-size: 1.2em;
  line-height: 1.3;
  padding-bottom: 2%;
  margin: 10px 0;
  border-bottom: 2px solid red; /* Souligne uniquement la partie "avec qui vous voulez" */
  width: 100%; /* Ajuste la largeur selon tes préférences */
  margin-left: auto;
  margin-right: auto;
}

.description4 {
  margin: 10px 0;
  font-size: 0.8em;
  text-align: left; /* Ajuste la position du texte selon tes préférences */
  line-height: 1.5;
  white-space: pre-line;
}
.part5 {
  text-align: left;
  padding: 20px;
  background: lightgrey;
}

.plantIcon {
  width: 10%; /* ou ajuste selon tes préférences */
  max-width: 100%;
  padding-bottom: 2%;
  border-bottom: 2px solid red;
}

.title5 {
  text-transform: uppercase; /* Met le texte en majuscules */
  font-weight: bold;
  width: 80%;
  color: #333;
  font-size: 1.2em;
  padding-bottom: 2%;
  margin: 10px 0;
  border-bottom: 2px solid red;
}

.images-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Ajuste l'espace entre le titre et les images selon tes préférences */
}

.rules-image,
.download-logo {
  max-width: 35%; /* Ajuste la largeur maximale des images selon tes préférences */
  height: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to top, grey, lightgrey, white, white) no-repeat;
  background-size: auto; /* S'adapte à la taille du contenu */
}

.footer-image {
  max-width: 100%; /* Ajuste la largeur maximale de l'image selon tes préférences */
  height: auto;
}